
@{
    ViewData["Title"] = "Error Page";
}

<h1>Oops an error occured . . .</h1>

<img class="errorimg" src="~/images/ErrorImages/ErrorImage.png" alt="An Error Occured Image" />



<style>
    .errorimg{
        width:75%;
    }
</style>
